.react-markdown {
  text-indent: 0.5em;
}

.react-markdown > p + p {
  padding: 5px 0;
}
.react-markdown > ol,
.react-markdown > ul {
  padding-left: 0.5em;
  margin: 0.5em 0;
}

.react-markdown li {
  margin-left: 2em;
  text-indent: 0;
}

.message {
  max-width: 500px;
  border-radius: 10px;

  padding: 10px;
  margin: 10px;
}

.role {
  display: block;
  margin-bottom: 10px;
}

.ai {
  margin-right: auto;
  background-color: #d9d9d9;
  color: rgb(0, 0, 0);
}

.human {
  margin-left: auto;
  background-color: #9d55b7;
  color: white;
}

@media (max-width: 600px) {
  .ai {
    margin-left: 0;
  }
  .human {
    margin-right: 0;
  }
}
